html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#navbar > ul > li {
  margin-right: 1em;
}

.navbar .icon-bar {
  border: 1px solid #303030;
}

section {
  margin-bottom: 1em;
}

.panel {
  padding: 2em;
}

.panel > .lead {
  margin-bottom: 5px;
}

.alternate {
  color: #707070;
}

.img-center {
  display: block;
  margin: 0 auto 1em auto;
  border-radius: 64px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(101,101,101,0.55);
  -moz-box-shadow: 0px 1px 3px 0px rgba(101,101,101,0.55);
  box-shadow: 0px 1px 3px 0px rgba(101,101,101,0.55);
}

a {
  color: inherit;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}


#list-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#list-posts:nth-child(even) {
  margin-right: none;
}

.post-card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .post-card {
    max-width: 49%;
  }
}

/* Float */

.hvr-float {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}
